<app-univ-content>
    <div class="app-title">
        <div>
            <h1>
                <i class="fa fa-file-text"></i><span translate>program</span>
            </h1>
            <p>แสดงข้อมูลหลักสูตรสาขาวิชาที่เปิดสอน</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item">
                <a href="/univ"><i class="fa fa-home fa-lg"></i></a>
            </li>
            <li class="breadcrumb-item" translate>menu-education-service</li>
            <li class="breadcrumb-item" translate>menu-programs</li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <h3 class="card-header" translate>level</h3>
                <div class="card-body">
                    <div class="list-group">
                        <a *ngFor="let level of levels" 
                            (click)="ilevel=level.levelid;onClickLevel()"
                            class="list-group-item list-group-item-action align-items-center" data-toggle="list">
                            {{level.levelname}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8" *ngIf="programs">
            <div class="card">
                <h3 class="card-header" translate>program</h3>
                <div class="card-body">
                    <div class="list-group">
                        <a *ngFor="let program of programs"
                            (click)="onClickProgram(program)"
                            class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="list-group-item-heading">{{program.programname}}</h5>
                                <small>{{program.credittotal}} <span translate>credits</span></small>
                            </div>
                            <div class="d-flex w-100 justify-content-between">
                                <div class="list-group-item-heading">{{program.degreename}}</div>
                                <small><span translate>GPA</span> {{program.gradepointmin | number : '.2-2'}}</small>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-univ-content>

