<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
    <div *ngIf="UserLogin" class="app-sidebar__user">
        <img *ngIf="UserLogin.image" class="app-sidebar__user-avatar" [src]="UserLogin.image" alt="User Image">
        <img *ngIf="!UserLogin.image" class="app-sidebar__user-avatar" src="assets/images/no-image-profile.png" alt="User Image">
        <div class="app-sidebar-ud">
            <p class="app-sidebar__user-name">
                {{ UserLogin.firstname }} {{ UserLogin.lastname }}
            </p>
            <p class="app-sidebar__user-designation">
                {{ UserLogin.position }}
            </p>
        </div>
    </div>
    <ul class="app-menu">
        <li>
            <a class="app-menu__item" [routerLink]="['/', AppURL.Univ]" routerLinkActive="active">
                <i class="app-menu__icon fa fa-home"></i>
                <span class="app-menu__label" translate>home</span>
            </a>
        </li>
        <li class="treeview" routerLinkActive="is-expanded">
            <a class="app-menu__item" href="#" data-toggle="treeview">
                <i class="app-menu__icon fa fa-info-circle"></i>
                <span class="app-menu__label" translate>menu-education-service</span>
                <i class="treeview-indicator fa fa-angle-right"></i>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a class="treeview-item" [routerLink]="['/', AppURL.Program]" routerLinkActive="active">
                        <i class="icon fa fa-file-text"></i><span translate>menu-programs</span> 
                    </a>
                </li>
                <li>
                    <a class="treeview-item" [routerLink]="['/', AppURL.Class]" routerLinkActive="active">
                        <i class="icon fa fa-book"></i><span translate>menu-classes</span> 
                    </a>
                </li>
                <li>
                    <a class="treeview-item" [routerLink]="['/', AppURL.Calendar]" routerLinkActive="active">
                        <i class="icon fa fa-calendar"></i><span translate>menu-calendars</span> 
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</aside>
